{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "support@lumaserv.com",
      "name" : "LUMASERV Support Team"
    },
    "description" : "LUMASERV Auth API",
    "title" : "LUMASERV Auth API",
    "version" : "1.0"
  },
  "servers" : [ {
    "description" : "Live",
    "url" : "https://auth.lumaserv.cloud"
  } ],
  "security" : [ {
    "AuthToken" : [ ]
  } ],
  "tags" : [ {
    "name" : "audit"
  }, {
    "name" : "auth"
  }, {
    "name" : "countries"
  }, {
    "name" : "projects"
  }, {
    "name" : "tokens"
  }, {
    "name" : "users"
  } ],
  "paths" : {
    "/projects" : {
      "get" : {
        "description" : "Returns all projects",
        "operationId" : "getProjects",
        "parameters" : [ {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Detail Flag",
          "explode" : true,
          "in" : "query",
          "name" : "detail",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            },
            "description" : "Project List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getProjects",
        "tags" : [ "projects" ]
      },
      "post" : {
        "description" : "Create a new project",
        "operationId" : "createProject",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ProjectCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                }
              }
            },
            "description" : "Single Project"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createProject",
        "tags" : [ "projects" ]
      }
    },
    "/projects/{id}" : {
      "delete" : {
        "description" : "Deletes the project",
        "operationId" : "deleteProject",
        "parameters" : [ {
          "description" : "ID of the project",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteProject",
        "tags" : [ "projects" ]
      },
      "get" : {
        "description" : "Returns a single project",
        "operationId" : "getProject",
        "parameters" : [ {
          "description" : "ID of the project",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Detail Flag",
          "explode" : true,
          "in" : "query",
          "name" : "detail",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                }
              }
            },
            "description" : "Single Project"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getProject",
        "tags" : [ "projects" ]
      },
      "put" : {
        "description" : "Updates the project",
        "operationId" : "updateProject",
        "parameters" : [ {
          "description" : "ID of the project",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ProjectUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                }
              }
            },
            "description" : "Single Project"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateProject",
        "tags" : [ "projects" ]
      }
    },
    "/login" : {
      "post" : {
        "description" : "Exchanges user credentials for an auth token",
        "operationId" : "login",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/LoginRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            },
            "description" : "Login Response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "security" : [ ],
        "summary" : "login",
        "tags" : [ "auth" ]
      }
    },
    "/users" : {
      "get" : {
        "description" : "Returns all users",
        "operationId" : "getUsers",
        "parameters" : [ {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Customer ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[customer_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            },
            "description" : "User List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getUsers",
        "tags" : [ "users" ]
      },
      "post" : {
        "description" : "Creates a new user",
        "operationId" : "createUser",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UserCreateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            },
            "description" : "Single User"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createUser",
        "tags" : [ "users" ]
      }
    },
    "/users/{id}" : {
      "get" : {
        "description" : "Returns a single user",
        "operationId" : "getUser",
        "parameters" : [ {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            },
            "description" : "Single User"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getUser",
        "tags" : [ "users" ]
      },
      "put" : {
        "description" : "Updates the user",
        "operationId" : "updateUser",
        "parameters" : [ {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UserUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            },
            "description" : "Single User"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateUser",
        "tags" : [ "users" ]
      }
    },
    "/projects/{id}/members" : {
      "get" : {
        "description" : "Returns all members of the project",
        "operationId" : "getProjectMembers",
        "parameters" : [ {
          "description" : "Project ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                }
              }
            },
            "description" : "ProjectMember List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getProjectMembers",
        "tags" : [ "projects" ]
      }
    },
    "/projects/{id}/members/{user_id}" : {
      "delete" : {
        "description" : "Removes a member from the project",
        "operationId" : "removeProjectMember",
        "parameters" : [ {
          "description" : "Project ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "user_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "removeProjectMember",
        "tags" : [ "projects" ]
      }
    },
    "/validate/self" : {
      "get" : {
        "description" : "Validates the current token",
        "operationId" : "validateSelf",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            },
            "description" : "Token Validation"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "validateSelf",
        "tags" : [ "auth" ]
      }
    },
    "/password-reset" : {
      "post" : {
        "description" : "Requests a password reset email for the given username",
        "operationId" : "requestPasswordReset",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/RequestPasswordResetRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "requestPasswordReset",
        "tags" : [ "auth" ]
      },
      "put" : {
        "description" : "Executes the password reset with the token from the email",
        "operationId" : "executePasswordReset",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ExecutePasswordResetRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "executePasswordReset",
        "tags" : [ "auth" ]
      }
    },
    "/validate/{token}" : {
      "get" : {
        "description" : "Validates the token",
        "operationId" : "validateToken",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "token",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_5"
                }
              }
            },
            "description" : "Token Validation"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "validateToken",
        "tags" : [ "auth" ]
      }
    },
    "/users/{id}/project_memberships" : {
      "get" : {
        "description" : "Returns all project memberships of the user",
        "operationId" : "getUserProjectMemberships",
        "parameters" : [ {
          "description" : "User ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_4"
                }
              }
            },
            "description" : "ProjectMember List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getUserProjectMemberships",
        "tags" : [ "users" ]
      }
    },
    "/tokens" : {
      "get" : {
        "description" : "Returns all tokens",
        "operationId" : "getTokens",
        "parameters" : [ {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "User ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[user_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_6"
                }
              }
            },
            "description" : "Token List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getTokens",
        "tags" : [ "tokens" ]
      },
      "post" : {
        "description" : "Creates a new api token",
        "operationId" : "createToken",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/TokenCreateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_7"
                }
              }
            },
            "description" : "Single Token"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createToken",
        "tags" : [ "tokens" ]
      }
    },
    "/tokens/{id}" : {
      "delete" : {
        "description" : "Deletes a token",
        "operationId" : "deleteToken",
        "parameters" : [ {
          "description" : "Token ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteToken",
        "tags" : [ "tokens" ]
      },
      "get" : {
        "description" : "Returns a single token",
        "operationId" : "getToken",
        "parameters" : [ {
          "description" : "Token ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_7"
                }
              }
            },
            "description" : "Single Token"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getToken",
        "tags" : [ "tokens" ]
      }
    },
    "/countries" : {
      "get" : {
        "description" : "Returns all countries",
        "operationId" : "getCountries",
        "parameters" : [ {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_8"
                }
              }
            },
            "description" : "Country List"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getCountries",
        "tags" : [ "countries" ]
      }
    },
    "/countries/{code}" : {
      "get" : {
        "description" : "Returns a single country",
        "operationId" : "getCountry",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_9"
                }
              }
            },
            "description" : "Single Country"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getCountry",
        "tags" : [ "countries" ]
      }
    },
    "/audit-log" : {
      "post" : {
        "description" : "Searches the audit log for records",
        "operationId" : "searchAuditLog",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/AuditLogRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_10"
                }
              }
            },
            "description" : "Audit Log"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "searchAuditLog",
        "tags" : [ "audit" ]
      }
    }
  },
  "components" : {
    "parameters" : {
      "PaginationPage" : {
        "description" : "Page",
        "explode" : true,
        "in" : "query",
        "name" : "page",
        "required" : false,
        "schema" : {
          "minimum" : 1,
          "type" : "integer"
        },
        "style" : "form"
      },
      "PaginationPageSize" : {
        "description" : "Page Size",
        "explode" : true,
        "in" : "query",
        "name" : "page_size",
        "required" : false,
        "schema" : {
          "default" : 10,
          "type" : "integer"
        },
        "style" : "form"
      },
      "Search" : {
        "description" : "Search",
        "explode" : true,
        "in" : "query",
        "name" : "search",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      }
    },
    "requestBodies" : {
      "ProjectCreateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "title" : {
                  "type" : "string"
                }
              },
              "required" : [ "title" ],
              "type" : "object"
            }
          }
        }
      },
      "ProjectUpdateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "title" : {
                  "type" : "string"
                }
              },
              "type" : "object"
            }
          }
        }
      },
      "LoginRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "username" : {
                  "type" : "string"
                },
                "password" : {
                  "type" : "string"
                }
              },
              "required" : [ "password", "username" ],
              "type" : "object"
            }
          }
        },
        "description" : "Login Request"
      },
      "RequestPasswordResetRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "username" : {
                  "type" : "string"
                }
              },
              "required" : [ "username" ],
              "type" : "object"
            }
          }
        }
      },
      "ExecutePasswordResetRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "token" : {
                  "type" : "string"
                },
                "password" : {
                  "type" : "string"
                }
              },
              "required" : [ "password", "token" ],
              "type" : "object"
            }
          }
        }
      },
      "TokenCreateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "user_id" : {
                  "format" : "uuid",
                  "type" : "string"
                },
                "title" : {
                  "type" : "string"
                },
                "scope" : {
                  "$ref" : "#/components/schemas/TokenScope"
                }
              },
              "required" : [ "title" ],
              "type" : "object"
            }
          }
        }
      },
      "UserCreateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "gender" : {
                  "$ref" : "#/components/schemas/Gender"
                },
                "first_name" : {
                  "type" : "string"
                },
                "last_name" : {
                  "type" : "string"
                },
                "company" : {
                  "type" : "string"
                },
                "email" : {
                  "format" : "email",
                  "type" : "string"
                },
                "password" : {
                  "type" : "string"
                },
                "type" : {
                  "$ref" : "#/components/schemas/UserType"
                }
              },
              "required" : [ "email", "first_name", "gender", "last_name", "password" ],
              "type" : "object"
            }
          }
        }
      },
      "UserUpdateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "gender" : {
                  "$ref" : "#/components/schemas/Gender"
                },
                "first_name" : {
                  "type" : "string"
                },
                "last_name" : {
                  "type" : "string"
                },
                "company" : {
                  "type" : "string"
                },
                "type" : {
                  "$ref" : "#/components/schemas/UserType"
                },
                "state" : {
                  "$ref" : "#/components/schemas/UserState"
                },
                "email" : {
                  "format" : "email",
                  "type" : "string"
                },
                "password" : {
                  "type" : "string"
                },
                "customer_id" : {
                  "type" : "integer"
                }
              },
              "type" : "object"
            }
          }
        }
      },
      "AuditLogRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "query" : {
                  "type" : "object"
                },
                "sort" : {
                  "type" : "object"
                },
                "limit" : {
                  "type" : "integer"
                }
              },
              "required" : [ "query" ],
              "type" : "object"
            }
          }
        }
      }
    },
    "responses" : {
      "InvalidRequestResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_400"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_400"
            }
          }
        },
        "description" : "Response for validation errors"
      },
      "EmptyResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_401"
            }
          }
        },
        "description" : "Empty Response"
      },
      "ProjectListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200"
            }
          }
        },
        "description" : "Project List"
      },
      "ProjectSingleResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_201"
            }
          }
        },
        "description" : "Single Project"
      },
      "LoginResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_1"
            }
          }
        },
        "description" : "Login Response"
      },
      "UserListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_2"
            }
          }
        },
        "description" : "User List"
      },
      "UserSingleResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_3"
            }
          }
        },
        "description" : "Single User"
      },
      "ProjectMemberListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_4"
            }
          }
        },
        "description" : "ProjectMember List"
      },
      "TokenValidationResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_5"
            }
          }
        },
        "description" : "Token Validation"
      },
      "TokenListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_6"
            }
          }
        },
        "description" : "Token List"
      },
      "TokenSingleResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_7"
            }
          }
        },
        "description" : "Single Token"
      },
      "CountryListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_8"
            }
          }
        },
        "description" : "Country List"
      },
      "CountrySingleResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_9"
            }
          }
        },
        "description" : "Single Country"
      },
      "AuditLogResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_10"
            }
          }
        },
        "description" : "Audit Log"
      }
    },
    "schemas" : {
      "ResponseMessages" : {
        "properties" : {
          "warnings" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseMessage"
            },
            "type" : "array"
          },
          "errors" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseMessage"
            },
            "type" : "array"
          },
          "infos" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseMessage"
            },
            "type" : "array"
          }
        },
        "required" : [ "errors", "infos", "warnings" ],
        "title" : "ResponseMessages",
        "type" : "object",
        "x-examples" : {
          "example" : {
            "warnings" : [ ],
            "errors" : [ ],
            "success" : [ {
              "code" : 10000,
              "message" : "Action successfully executed."
            } ]
          }
        }
      },
      "ResponseMessage" : {
        "properties" : {
          "key" : {
            "example" : "general.serverError",
            "type" : "string"
          },
          "message" : {
            "example" : "Action successfully executed.",
            "type" : "string"
          }
        },
        "required" : [ "key", "message" ],
        "title" : "ResponseMessage",
        "type" : "object"
      },
      "ResponseMetadata" : {
        "properties" : {
          "transaction_id" : {
            "example" : "1428d399-8861-40a5-a85f-6ed4c669bae0",
            "format" : "uuid",
            "type" : "string"
          },
          "build_commit" : {
            "example" : "master-a0b1c2d3",
            "type" : "string"
          },
          "build_timestamp" : {
            "example" : "2021-09-01 13:37:00",
            "type" : "string"
          }
        },
        "required" : [ "build_commit", "build_timestamp", "transaction_id" ],
        "title" : "ResponseMetadata",
        "type" : "object"
      },
      "ResponsePagination" : {
        "properties" : {
          "page" : {
            "example" : 1,
            "type" : "integer"
          },
          "page_size" : {
            "example" : 25,
            "type" : "integer"
          },
          "total" : {
            "example" : 1500,
            "type" : "integer"
          }
        },
        "required" : [ "page", "page_size", "total" ],
        "title" : "ResponsePagination",
        "type" : "object"
      },
      "Project" : {
        "properties" : {
          "id" : {
            "example" : "1428d399-8861-40a5-a85f-6ed4c669bae0",
            "format" : "uuid",
            "type" : "string"
          },
          "title" : {
            "example" : "Example Project",
            "type" : "string"
          }
        },
        "required" : [ "id", "title" ],
        "title" : "Project",
        "type" : "object",
        "x-tags" : [ "projects" ],
        "x-examples" : {
          "example" : {
            "uuid" : "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
            "title" : "Nice App",
            "description" : "A really nice app",
            "created_at" : "2020-01-30 00:00:00",
            "updated_at" : "2020-01-30 00:00:00"
          }
        }
      },
      "Token" : {
        "description" : "API / Session Token",
        "properties" : {
          "token" : {
            "type" : "string"
          },
          "user_id" : {
            "type" : "string"
          },
          "type" : {
            "enum" : [ "SESSION", "API" ],
            "type" : "string"
          },
          "scope" : {
            "$ref" : "#/components/schemas/TokenScope"
          },
          "validUntil" : {
            "type" : "string"
          },
          "created_at" : {
            "type" : "string"
          }
        },
        "required" : [ "created_at", "scope", "type", "user_id" ],
        "title" : "Token",
        "type" : "object",
        "x-tags" : [ "users" ]
      },
      "User" : {
        "properties" : {
          "id" : {
            "format" : "uuid",
            "type" : "string"
          },
          "customer_id" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "email" : {
            "format" : "email",
            "type" : "string"
          },
          "first_name" : {
            "type" : "string"
          },
          "last_name" : {
            "type" : "string"
          },
          "gender" : {
            "$ref" : "#/components/schemas/Gender"
          },
          "type" : {
            "$ref" : "#/components/schemas/UserType"
          },
          "state" : {
            "$ref" : "#/components/schemas/UserState"
          }
        },
        "required" : [ "email", "first_name", "id", "last_name" ],
        "title" : "User",
        "type" : "object",
        "x-tags" : [ "users" ]
      },
      "ProjectMember" : {
        "description" : "Member of a Project",
        "properties" : {
          "user_id" : {
            "format" : "uuid",
            "type" : "string"
          },
          "role" : {
            "enum" : [ "OWNER", "USER" ],
            "type" : "string"
          },
          "project_id" : {
            "format" : "uuid",
            "type" : "string"
          }
        },
        "required" : [ "role" ],
        "title" : "ProjectMember",
        "type" : "object",
        "x-tags" : [ "project" ]
      },
      "TokenValidationInfo" : {
        "properties" : {
          "user" : {
            "$ref" : "#/components/schemas/User"
          },
          "token" : {
            "$ref" : "#/components/schemas/Token"
          },
          "project_memberships" : {
            "items" : {
              "$ref" : "#/components/schemas/ProjectMember"
            },
            "type" : "array"
          }
        },
        "required" : [ "project_memberships", "token", "user" ],
        "title" : "TokenValidationInfo",
        "type" : "object",
        "x-tags" : [ "auth" ]
      },
      "TokenScope" : {
        "properties" : {
          "project_id" : {
            "format" : "uuid",
            "type" : "string"
          }
        },
        "title" : "TokenScope",
        "type" : "object"
      },
      "UserType" : {
        "enum" : [ "CUSTOMER", "ADMIN" ],
        "title" : "UserType",
        "type" : "string"
      },
      "Gender" : {
        "enum" : [ "MALE", "FEMALE", "OTHER" ],
        "title" : "Gender",
        "type" : "string"
      },
      "UserState" : {
        "enum" : [ "PENDING", "ACTIVATED", "LOCKED" ],
        "title" : "UserState",
        "type" : "string"
      },
      "Country" : {
        "properties" : {
          "code" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          }
        },
        "required" : [ "code", "title" ],
        "title" : "Country",
        "type" : "object"
      },
      "inline_response_200" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Project"
            },
            "type" : "array"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "pagination" : {
            "$ref" : "#/components/schemas/ResponsePagination"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_401" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          }
        },
        "required" : [ "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_201" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/Project"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_400" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "type" : "object"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          }
        },
        "required" : [ "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_1" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/Token"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_2" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/User"
            },
            "type" : "array"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "pagination" : {
            "$ref" : "#/components/schemas/ResponsePagination"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_3" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/User"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_4" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/ProjectMember"
            },
            "type" : "array"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "pagination" : {
            "$ref" : "#/components/schemas/ResponsePagination"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_5" : {
        "properties" : {
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/TokenValidationInfo"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_6" : {
        "properties" : {
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Token"
            },
            "type" : "array"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          },
          "pagination" : {
            "$ref" : "#/components/schemas/ResponsePagination"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_7" : {
        "properties" : {
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/Token"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_8" : {
        "properties" : {
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Country"
            },
            "type" : "array"
          },
          "pagination" : {
            "$ref" : "#/components/schemas/ResponsePagination"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_9" : {
        "properties" : {
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/Country"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      },
      "inline_response_200_10" : {
        "properties" : {
          "metadata" : {
            "$ref" : "#/components/schemas/ResponseMetadata"
          },
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "type" : "object"
            },
            "type" : "array"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "metadata", "success" ],
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "AuthToken" : {
        "scheme" : "bearer",
        "type" : "http"
      }
    }
  }
}