{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "support@lumaserv.com",
      "name" : "LUMASERV Support Team",
      "url" : "https://lumaserv.com"
    },
    "description" : "LUMASERV Compute API",
    "title" : "LUMASERV Compute API",
    "version" : "1.0"
  },
  "servers" : [ {
    "description" : "Live",
    "url" : "https://api.lumaserv.com/compute"
  } ],
  "security" : [ {
    "AuthToken" : [ ]
  } ],
  "tags" : [ {
    "name" : "address"
  }, {
    "name" : "availability-zone"
  }, {
    "name" : "general"
  }, {
    "name" : "label"
  }, {
    "name" : "network"
  }, {
    "name" : "pricing"
  }, {
    "name" : "s3-storage"
  }, {
    "name" : "server"
  }, {
    "name" : "server-backup"
  }, {
    "name" : "server-firewall"
  }, {
    "name" : "server-host"
  }, {
    "name" : "server-media"
  }, {
    "name" : "server-storage"
  }, {
    "name" : "server-storage-class"
  }, {
    "name" : "server-template"
  }, {
    "name" : "server-variant"
  }, {
    "name" : "server-volume"
  }, {
    "name" : "sshkeys"
  } ],
  "paths" : {
    "/storage/s3/buckets" : {
      "get" : {
        "description" : "Returns all s3 buckets",
        "operationId" : "getS3Buckets",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_200_response"
                }
              }
            },
            "description" : "S3 Bucket List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3Buckets",
        "tags" : [ "s3-storage" ]
      },
      "post" : {
        "description" : "Creates a new s3 bucket",
        "operationId" : "createS3Bucket",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3BucketCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_201_response"
                }
              }
            },
            "description" : "Single S3 Bucket"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createS3Bucket",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/buckets/{id}" : {
      "delete" : {
        "description" : "Deletes a s3 bucket",
        "operationId" : "deleteS3Bucket",
        "parameters" : [ {
          "description" : "S3 Bucket ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteS3Bucket",
        "tags" : [ "s3-storage" ]
      },
      "get" : {
        "description" : "Returns a single s3 bucket",
        "operationId" : "getS3Bucket",
        "parameters" : [ {
          "description" : "S3 Bucket ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_201_response"
                }
              }
            },
            "description" : "Single S3 Bucket"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3Bucket",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys" : {
      "get" : {
        "description" : "Returns all access keys",
        "operationId" : "getS3AccessKeys",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3AccessKeys_200_response"
                }
              }
            },
            "description" : "S3 Access Key List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3AccessKeys",
        "tags" : [ "s3-storage" ]
      },
      "post" : {
        "description" : "Creates a s3 access key",
        "operationId" : "createS3AccessKey",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3AccessKeyCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3AccessKey_201_response"
                }
              }
            },
            "description" : "Single S3 Access Key"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createS3AccessKey",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys/{id}" : {
      "delete" : {
        "description" : "Deletes a s3 access key",
        "operationId" : "deleteS3AccessKey",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteS3AccessKey",
        "tags" : [ "s3-storage" ]
      },
      "get" : {
        "description" : "Returns a single s3 access key",
        "operationId" : "getS3AccessKey",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3AccessKey_201_response"
                }
              }
            },
            "description" : "Single S3 Access Key"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3AccessKey",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys/{access_key_id}/grants" : {
      "get" : {
        "description" : "Returns all grants for the s3 access key",
        "operationId" : "getS3AccessKeyGrants",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "access_key_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3AccessKeyGrants_200_response"
                }
              }
            },
            "description" : "S3 Access Grant List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3AccessKeyGrants",
        "tags" : [ "s3-storage" ]
      },
      "post" : {
        "description" : "Creates a new grant for the s3 access key",
        "operationId" : "createS3AccessKeyGrant",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "access_key_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3AccessGrantCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3AccessKeyGrant_201_response"
                }
              }
            },
            "description" : "Single S3 Access Grant"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createS3AccessKeyGrant",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys/{access_key_id}/grants/{id}" : {
      "delete" : {
        "description" : "Deletes a grant of a s3 access key",
        "operationId" : "deleteS3AccessKeyGrant",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "access_key_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "S3 Access Grant ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteS3AccessKeyGrant",
        "tags" : [ "s3-storage" ]
      }
    },
    "/ssh-keys" : {
      "get" : {
        "description" : "Returns all ssh keys",
        "operationId" : "getSSHKeys",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Title Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[title]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSSHKeys_200_response"
                }
              }
            },
            "description" : "SSHKey List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getSSHKeys",
        "tags" : [ "sshkeys" ]
      },
      "post" : {
        "description" : "Creates a new ssh key",
        "operationId" : "createSSHKey",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SSHKeyCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSSHKey_201_response"
                }
              }
            },
            "description" : "Single SSHKey"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createSSHKey",
        "tags" : [ "sshkeys" ]
      }
    },
    "/ssh-keys/{id}" : {
      "delete" : {
        "description" : "Deletes a ssh key",
        "operationId" : "deleteSSHKey",
        "parameters" : [ {
          "description" : "SSH Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteSSHKey",
        "tags" : [ "sshkeys" ]
      },
      "get" : {
        "description" : "Returns a single ssh key",
        "operationId" : "getSSHKey",
        "parameters" : [ {
          "description" : "SSH Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSSHKey_201_response"
                }
              }
            },
            "description" : "Single SSHKey"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getSSHKey",
        "tags" : [ "sshkeys" ]
      },
      "put" : {
        "description" : "Updates a ssh key",
        "operationId" : "updateSSHKey",
        "parameters" : [ {
          "description" : "SSH Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SSHKeyUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSSHKey_201_response"
                }
              }
            },
            "description" : "Single SSHKey"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateSSHKey",
        "tags" : [ "sshkeys" ]
      }
    },
    "/servers" : {
      "get" : {
        "description" : "Returns all servers",
        "operationId" : "getServers",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Name Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "State Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[state]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Variant ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[variant_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Template ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[template_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Host ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[host_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Network ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[network_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getServers_200_response"
                }
              }
            },
            "description" : "Server List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServers",
        "tags" : [ "server" ]
      },
      "post" : {
        "description" : "Creates a new server",
        "operationId" : "createServer",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServerCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServer_201_response"
                }
              }
            },
            "description" : "Single Server"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createServer",
        "tags" : [ "server" ]
      }
    },
    "/servers/{id}" : {
      "delete" : {
        "description" : "Deletes the server",
        "operationId" : "deleteServer",
        "parameters" : [ {
          "description" : "Server ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteServer",
        "tags" : [ "server" ]
      },
      "get" : {
        "description" : "Returns a single server",
        "operationId" : "getServer",
        "parameters" : [ {
          "description" : "Server ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServer_201_response"
                }
              }
            },
            "description" : "Single Server"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServer",
        "tags" : [ "server" ]
      },
      "put" : {
        "description" : "Updates the server",
        "operationId" : "updateServer",
        "parameters" : [ {
          "description" : "Server ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServerUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServer_201_response"
                }
              }
            },
            "description" : "Single Server"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateServer",
        "tags" : [ "server" ]
      }
    },
    "/server-volumes" : {
      "get" : {
        "description" : "Returns all server volumes",
        "operationId" : "getServerVolumes",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Server ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[server_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Title Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[title]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Storage Class ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[class_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getServerVolumes_200_response"
                }
              }
            },
            "description" : "ServerVolume List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServerVolumes",
        "tags" : [ "server-volume" ]
      },
      "post" : {
        "description" : "Creates a new volume",
        "operationId" : "createServerVolume",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServerVolumeCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerVolume_201_response"
                }
              }
            },
            "description" : "Single ServerVolume"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createServerVolume",
        "tags" : [ "server-volume" ]
      }
    },
    "/server-volumes/{id}" : {
      "delete" : {
        "description" : "Deletes the volume",
        "operationId" : "deleteServerVolume",
        "parameters" : [ {
          "description" : "Server Volume ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteServerVolume",
        "tags" : [ "server-volume" ]
      },
      "get" : {
        "description" : "Returns a single volume",
        "operationId" : "getServerVolume",
        "parameters" : [ {
          "description" : "Server Volume ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerVolume_201_response"
                }
              }
            },
            "description" : "Single ServerVolume"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServerVolume",
        "tags" : [ "server-volume" ]
      },
      "put" : {
        "description" : "Updates the server volume",
        "operationId" : "updateServerVolume",
        "parameters" : [ {
          "description" : "Server Volume ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServerVolumeUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerVolume_201_response"
                }
              }
            },
            "description" : "Single ServerVolume"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateServerVolume",
        "tags" : [ "server-volume" ]
      }
    },
    "/server-templates" : {
      "get" : {
        "description" : "Returns all server templates",
        "operationId" : "getServerTemplates",
        "parameters" : [ {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Title Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[title]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Zone ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "zone_id",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getServerTemplates_200_response"
                }
              }
            },
            "description" : "ServerTemplate List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServerTemplates",
        "tags" : [ "server-template" ]
      },
      "post" : {
        "description" : "Creates a new server template",
        "operationId" : "createServerTemplate",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServerTemplateCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerTemplate_201_response"
                }
              }
            },
            "description" : "Single ServerTemplate"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createServerTemplate",
        "tags" : [ "server-template" ]
      }
    },
    "/server-templates/{id}" : {
      "get" : {
        "description" : "Returns a single server template",
        "operationId" : "getServerTemplate",
        "parameters" : [ {
          "description" : "Server Template ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerTemplate_201_response"
                }
              }
            },
            "description" : "Single ServerTemplate"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServerTemplate",
        "tags" : [ "server-template" ]
      }
    },
    "/server-medias" : {
      "get" : {
        "description" : "Returns all server media's",
        "operationId" : "getServerMedias",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Title Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[title]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Zone ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[zone_id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getServerMedias_200_response"
                }
              }
            },
            "description" : "ServerMedia List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServerMedias",
        "tags" : [ "server-media" ]
      },
      "post" : {
        "description" : "Creates a new server media",
        "operationId" : "createServerMedia",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ServerMediaCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerMedia_201_response"
                }
              }
            },
            "description" : "Single ServerMedia"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createServerMedia",
        "tags" : [ "server-media" ]
      }
    },
    "/server-medias/{id}" : {
      "delete" : {
        "description" : "Deletes the server media",
        "operationId" : "deleteServerMedia",
        "parameters" : [ {
          "description" : "Server Media ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteServerMedia",
        "tags" : [ "server-media" ]
      },
      "get" : {
        "description" : "Returns a single server media",
        "operationId" : "getServerMedia",
        "parameters" : [ {
          "description" : "Server Media ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createServerMedia_201_response"
                }
              }
            },
            "description" : "Single ServerMedia"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getServerMedia",
        "tags" : [ "server-media" ]
      }
    },
    "/search" : {
      "get" : {
        "description" : "Search for multiple resource types at once",
        "operationId" : "search",
        "parameters" : [ {
          "description" : "Comma seperated list of types",
          "explode" : true,
          "in" : "query",
          "name" : "resources",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Limit per Resource Type",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Project ID",
          "explode" : true,
          "in" : "query",
          "name" : "project_id",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "labels[:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/search_200_response"
                }
              }
            },
            "description" : "Search Results"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "search",
        "tags" : [ "general" ]
      }
    },
    "/availability-zones" : {
      "get" : {
        "description" : "Returns all availability zones",
        "operationId" : "getAvailabilityZones",
        "parameters" : [ {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Title Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[title]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[id]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Country Code Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[country_code]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "City Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[city]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAvailabilityZones_200_response"
                }
              }
            },
            "description" : "AvailabilityZone List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getAvailabilityZones",
        "tags" : [ "availability-zone" ]
      },
      "post" : {
        "description" : "Creates a new availability zone",
        "operationId" : "createAvailabilityZone",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/AvailabilityZoneCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createAvailabilityZone_201_response"
                }
              }
            },
            "description" : "Single AvailabilityZone"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
[...]
