{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "support@lumaserv.com",
      "name" : "LUMASERV Support Team",
      "url" : "https://lumaserv.com"
    },
    "description" : "LUMASERV Core API",
    "title" : "LUMASERV Core API",
    "version" : "1.0"
  },
  "servers" : [ {
    "description" : "Live",
    "url" : "https://api.lumaserv.com"
  } ],
  "security" : [ {
    "AuthToken" : [ ]
  } ],
  "tags" : [ {
    "description" : "IP Address and Subnet Management",
    "name" : "address"
  }, {
    "description" : "DNS Management",
    "name" : "dns"
  }, {
    "description" : "Domain Management",
    "name" : "domains"
  }, {
    "description" : "General Endpoints",
    "name" : "general"
  }, {
    "description" : "Label Endpoints",
    "name" : "label"
  }, {
    "description" : "Plesk License Management",
    "name" : "plesk-licenses"
  }, {
    "description" : "Pricing Endpoints",
    "name" : "pricing"
  }, {
    "description" : "S3 Object Storage Management",
    "name" : "s3-storage"
  }, {
    "description" : "Compute Service Management",
    "name" : "server"
  }, {
    "description" : "SSH-Key Management",
    "name" : "sshkeys"
  }, {
    "description" : "SSL Management",
    "name" : "ssl"
  } ],
  "paths" : {
    "/storage/s3/buckets" : {
      "get" : {
        "description" : "Returns all s3 buckets",
        "operationId" : "getS3Buckets",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_200_response"
                }
              }
            },
            "description" : "S3 Bucket List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3Buckets",
        "tags" : [ "s3-storage" ]
      },
      "post" : {
        "description" : "Creates a new s3 bucket",
        "operationId" : "createS3Bucket",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3BucketCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_201_response"
                }
              }
            },
            "description" : "Single S3 Bucket"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createS3Bucket",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/buckets/{id}" : {
      "delete" : {
        "description" : "Deletes a s3 bucket",
        "operationId" : "deleteS3Bucket",
        "parameters" : [ {
          "description" : "S3 Bucket ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteS3Bucket",
        "tags" : [ "s3-storage" ]
      },
      "get" : {
        "description" : "Returns a single s3 bucket",
        "operationId" : "getS3Bucket",
        "parameters" : [ {
          "description" : "S3 Bucket ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_201_response"
                }
              }
            },
            "description" : "Single S3 Bucket"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3Bucket",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys" : {
      "get" : {
        "description" : "Returns all access keys",
        "operationId" : "getS3AccessKeys",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3AccessKeys_200_response"
                }
              }
            },
            "description" : "S3 Access Key List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3AccessKeys",
        "tags" : [ "s3-storage" ]
      },
      "post" : {
        "description" : "Creates a s3 access key",
        "operationId" : "createS3AccessKey",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3AccessKeyCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3AccessKey_201_response"
                }
              }
            },
            "description" : "Single S3 Access Key"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createS3AccessKey",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys/{id}" : {
      "delete" : {
        "description" : "Deletes a s3 access key",
        "operationId" : "deleteS3AccessKey",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteS3AccessKey",
        "tags" : [ "s3-storage" ]
      },
      "get" : {
        "description" : "Returns a single s3 access key",
        "operationId" : "getS3AccessKey",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3AccessKey_201_response"
                }
              }
            },
            "description" : "Single S3 Access Key"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3AccessKey",
        "tags" : [ "s3-storage" ]
      }
    },
    "/licenses/plesk" : {
      "get" : {
        "description" : "Returns all plesk licenses",
        "operationId" : "getPleskLicenses",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Plesk License Type ID",
          "explode" : true,
          "in" : "query",
          "name" : "filter[type_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getPleskLicenses_200_response"
                }
              }
            },
            "description" : "Plesk License List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getPleskLicenses",
        "tags" : [ "plesk-licenses" ]
      },
      "post" : {
        "description" : "Orders a new plesk license",
        "operationId" : "createPleskLicense",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PleskLicenseCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createPleskLicense_201_response"
                }
              }
            },
            "description" : "Single Plesk License"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createPleskLicense",
        "tags" : [ "plesk-licenses" ]
      }
    },
    "/licenses/plesk/{id}" : {
      "get" : {
        "description" : "Returns a single plesk license",
        "operationId" : "getPleskLicense",
        "parameters" : [ {
          "description" : "Plesk License ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createPleskLicense_201_response"
                }
              }
            },
            "description" : "Single Plesk License"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getPleskLicense",
        "tags" : [ "plesk-licenses" ]
      },
      "put" : {
        "description" : "Updates a plesk license",
        "operationId" : "updatePleskLicense",
        "parameters" : [ {
          "description" : "Plesk License ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/PleskLicenseUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createPleskLicense_201_response"
                }
              }
            },
            "description" : "Single Plesk License"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updatePleskLicense",
        "tags" : [ "plesk-licenses" ]
      }
    },
    "/licenses/plesk-types" : {
      "get" : {
        "description" : "Return all plesk license types",
        "operationId" : "getPleskLicenseTypes",
        "parameters" : [ {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getPleskLicenseTypes_200_response"
                }
              }
            },
            "description" : "Plesk License Type List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getPleskLicenseTypes",
        "tags" : [ "plesk-licenses" ]
      }
    },
    "/licenses/plesk-types/{id}" : {
      "get" : {
        "description" : "Returns a single plesk license type",
        "operationId" : "getPleskLicenseType",
        "parameters" : [ {
          "description" : "Plesk License Type ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getPleskLicenseType_200_response"
                }
              }
            },
            "description" : "Single Plesk License Type"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getPleskLicenseType",
        "tags" : [ "plesk-licenses" ]
      }
    },
    "/storage/s3/access-keys/{access_key_id}/grants" : {
      "get" : {
        "description" : "Returns all grants for the s3 access key",
        "operationId" : "getS3AccessKeyGrants",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "access_key_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3AccessKeyGrants_200_response"
                }
              }
            },
            "description" : "S3 Access Grant List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getS3AccessKeyGrants",
        "tags" : [ "s3-storage" ]
      },
      "post" : {
        "description" : "Creates a new grant for the s3 access key",
        "operationId" : "createS3AccessKeyGrant",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "access_key_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/S3AccessGrantCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3AccessKeyGrant_201_response"
                }
              }
            },
            "description" : "Single S3 Access Grant"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createS3AccessKeyGrant",
        "tags" : [ "s3-storage" ]
      }
    },
    "/storage/s3/access-keys/{access_key_id}/grants/{id}" : {
      "delete" : {
        "description" : "Deletes a grant of a s3 access key",
        "operationId" : "deleteS3AccessKeyGrant",
        "parameters" : [ {
          "description" : "S3 Access Key ID",
          "explode" : false,
          "in" : "path",
          "name" : "access_key_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "S3 Access Grant ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteS3AccessKeyGrant",
        "tags" : [ "s3-storage" ]
      }
    },
    "/domain-handles" : {
      "get" : {
        "description" : "Returns all domain handles",
        "operationId" : "getDomainHandles",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDomainHandles_200_response"
                }
              }
            },
            "description" : "Domain Handle List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getDomainHandles",
        "tags" : [ "domains" ]
      },
      "post" : {
        "description" : "Creates a domain handle",
        "operationId" : "createDomainHandle",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/DomainHandleCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomainHandle_201_response"
                }
              }
            },
            "description" : "Single Domain Handle"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createDomainHandle",
        "tags" : [ "domains" ]
      }
    },
    "/domain-handles/{code}" : {
      "delete" : {
        "description" : "Deletes the domain handle",
        "operationId" : "deleteDomainHandle",
        "parameters" : [ {
          "description" : "Handle Code",
          "explode" : false,
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteDomainHandle",
        "tags" : [ "domains" ]
      },
      "get" : {
        "description" : "Returns a single domain handle",
        "operationId" : "getDomainHandle",
        "parameters" : [ {
          "description" : "Handle Code",
          "explode" : false,
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomainHandle_201_response"
                }
              }
            },
            "description" : "Single Domain Handle"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getDomainHandle",
        "tags" : [ "domains" ]
      },
      "put" : {
        "description" : "Updates the domain handle",
        "operationId" : "updateDomainHandle",
        "parameters" : [ {
          "description" : "Handle Code",
          "explode" : false,
          "in" : "path",
          "name" : "code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/DomainHandleUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomainHandle_201_response"
                }
              }
            },
            "description" : "Single Domain Handle"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateDomainHandle",
        "tags" : [ "domains" ]
      }
    },
    "/domains" : {
      "get" : {
        "description" : "Returns all domains",
        "operationId" : "getDomains",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Handle Code of Owner Handle",
          "explode" : true,
          "in" : "query",
          "name" : "filter[owner_handle_code]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Handle Code of Admin Handle",
          "explode" : true,
          "in" : "query",
          "name" : "filter[admin_handle_code]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Handle Code of Tech Handle",
          "explode" : true,
          "in" : "query",
          "name" : "filter[tech_handle_code]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Handle Code of Zone Handle",
          "explode" : true,
          "in" : "query",
          "name" : "filter[zone_handle_code]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "TLD",
          "explode" : true,
          "in" : "query",
          "name" : "filter[tld]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDomains_200_response"
                }
              }
            },
            "description" : "Domain List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getDomains",
        "tags" : [ "domains" ]
      },
      "post" : {
        "description" : "Registers or transfer a domain",
        "operationId" : "createDomain",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/DomainCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomain_201_response"
                }
              }
            },
            "description" : "Single Domain"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createDomain",
        "tags" : [ "domains" ]
      }
    },
    "/domains/{name}" : {
      "delete" : {
        "description" : "Deletes a domain immediately",
        "operationId" : "deleteDomain",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteDomain",
        "tags" : [ "domains" ]
      },
      "get" : {
        "description" : "Returns a single domain",
        "operationId" : "getDomain",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomain_201_response"
                }
              }
            },
            "description" : "Single Domain"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getDomain",
        "tags" : [ "domains" ]
      },
      "put" : {
        "description" : "Updates a domain",
        "operationId" : "updateDomain",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/DomainUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomain_201_response"
                }
              }
            },
            "description" : "Single Domain"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateDomain",
        "tags" : [ "domains" ]
      }
    },
    "/domains/{name}/authinfo" : {
      "delete" : {
        "description" : "Removes the authinfo from the domain",
        "operationId" : "removeDomainAuthinfo",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "removeDomainAuthinfo",
        "tags" : [ "domains" ]
      },
      "get" : {
        "description" : "Generates and returns the authinfo for the domain",
        "operationId" : "getDomainAuthinfo",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDomainAuthinfo_200_response"
                }
              }
            },
            "description" : "Authinfo"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getDomainAuthinfo",
        "tags" : [ "domains" ]
      }
    },
    "/domains/{name}/restore" : {
      "post" : {
        "description" : "Restores a deleted domain",
        "operationId" : "restoreDomain",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "restoreDomain",
        "tags" : [ "domains" ]
      }
    },
    "/domains/{name}/schedule-delete" : {
      "post" : {
        "description" : "Schedules the deletion of the domain",
        "operationId" : "scheduleDomainDelete",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/DomainScheduleDeleteRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomain_201_response"
                }
              }
            },
            "description" : "Single Domain"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "scheduleDomainDelete",
        "tags" : [ "domains" ]
      }
    },
    "/domains/{name}/unschedule-delete" : {
      "post" : {
        "description" : "Unscheduled the pending domain deletion",
        "operationId" : "unscheduleDomainDelete",
        "parameters" : [ {
          "description" : "Domain Name",
          "explode" : false,
          "in" : "path",
          "name" : "name",
          "required" : true,
          "schema" : {
            "format" : "hostname",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createDomain_201_response"
                }
              }
            },
            "description" : "Single Domain"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "unscheduleDomainDelete",
        "tags" : [ "domains" ]
      }
    },
    "/ssl/contacts" : {
      "get" : {
        "description" : "Returns all ssl contacts",
        "operationId" : "getSSLContacts",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSSLContacts_200_response"
                }
              }
            },
            "description" : "SSLContact List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getSSLContacts",
        "tags" : [ "ssl" ]
      },
      "post" : {
        "description" : "Creates a ssl contact",
        "operationId" : "createSSLContact",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SSLContactCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSSLContact_201_response"
                }
              }
            },
            "description" : "Single SSLContact"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createS3Bucket_400_response_1"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createSSLContact",
        "tags" : [ "ssl" ]
      }
    },
    "/ssl/contacts/{id}" : {
      "delete" : {
        "description" : "Deletes a ssl contact",
        "operationId" : "deleteSSLContact",
        "parameters" : [ {
          "description" : "SSL Contact ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteSSLContact",
        "tags" : [ "ssl" ]
      },
      "get" : {
        "description" : "Returns a single ssl contact",
        "operationId" : "getSSLContact",
        "parameters" : [ {
          "description" : "SSL Contact ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSSLContact_201_response"
                }
              }
            },
            "description" : "Single SSLContact"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getSSLContact",
        "tags" : [ "ssl" ]
      }
    },
    "/ssl/organisations" : {
      "get" : {
        "description" : "Returns all ssl organisations",
        "operationId" : "getSSLOrganisations",
        "parameters" : [ {
          "description" : "Project ID Filter",
          "explode" : true,
          "in" : "query",
          "name" : "filter[project_id]",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Page Size",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 10,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filters for the label with the given name. Only checks the value if it's length is greater than 0.",
          "explode" : true,
          "in" : "query",
          "name" : "filter[labels][:name]",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "If length 0, true or 1 is given, the labels will be added to the response objects.",
          "explode" : true,
          "in" : "query",
          "name" : "with_labels",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "Order of the results, ascending by default",
          "explode" : true,
          "in" : "query",
          "name" : "order",
          "required" : false,
          "schema" : {
            "enum" : [ "ASC", "DESC" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field or array of fields to order by",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getSSLOrganisations_200_response"
                }
              }
            },
            "description" : "SSLOrganisation List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getS3Buckets_401_response"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getSSLOrganisations",
        "tags" : [ "ssl" ]
      },
      "post" : {
        "description" : "Creates a ssl organisation",
        "operationId" : "createSSLOrganisation",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/SSLOrganisationCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/createSSLOrganisation_201_response"
                }
              }
            },
            "description" : "Single SSLOrganisation"
[...]
