{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "support@lumaserv.com",
      "name" : "LUMASERV Support Team"
    },
    "description" : "LUMASERV API",
    "title" : "LUMASERV API",
    "version" : "1.0"
  },
  "servers" : [ {
    "description" : "Live",
    "url" : "https://api.lumaserv.cloud"
  } ],
  "security" : [ {
    "AuthToken" : [ ]
  } ],
  "tags" : [ {
    "name" : "projects"
  }, {
    "name" : "auth"
  } ],
  "paths" : {
    "/projects" : {
      "get" : {
        "description" : "Returns all projects",
        "operationId" : "getProjects",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            },
            "description" : "Project List"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getProjects",
        "tags" : [ "projects" ]
      },
      "post" : {
        "description" : "Create a new project",
        "operationId" : "createProject",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ProjectCreateRequest"
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                }
              }
            },
            "description" : "Single Project"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "createProject",
        "tags" : [ "projects" ]
      }
    },
    "/projects/{uuid}" : {
      "delete" : {
        "description" : "Deletes the project",
        "operationId" : "deleteProject",
        "parameters" : [ {
          "description" : "UUID of the project",
          "explode" : false,
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "deleteProject",
        "tags" : [ "projects" ]
      },
      "get" : {
        "description" : "Returns a single project",
        "operationId" : "getProject",
        "parameters" : [ {
          "description" : "UUID of the project",
          "explode" : false,
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                }
              }
            },
            "description" : "Single Project"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "getProject",
        "tags" : [ "projects" ]
      },
      "put" : {
        "description" : "Updates the project",
        "operationId" : "updateProject",
        "parameters" : [ {
          "description" : "UUID of the project",
          "explode" : false,
          "in" : "path",
          "name" : "uuid",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ProjectUpdateRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_201"
                }
              }
            },
            "description" : "Single Project"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "updateProject",
        "tags" : [ "projects" ]
      }
    },
    "/auth/login" : {
      "post" : {
        "description" : "Exchanges user credentials for an auth token",
        "operationId" : "login",
        "requestBody" : {
          "$ref" : "#/components/requestBodies/LoginRequest"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            },
            "description" : "Login Response"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_400"
                }
              }
            },
            "description" : "Response for validation errors"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            },
            "description" : "Empty Response"
          }
        },
        "summary" : "login",
        "tags" : [ "auth" ]
      }
    }
  },
  "components" : {
    "requestBodies" : {
      "ProjectCreateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "title" : {
                  "type" : "string"
                }
              },
              "required" : [ "title" ],
              "type" : "object"
            }
          }
        }
      },
      "ProjectUpdateRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "title" : {
                  "type" : "string"
                }
              },
              "type" : "object"
            }
          }
        }
      },
      "LoginRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "properties" : {
                "username" : {
                  "type" : "string"
                },
                "password" : {
                  "type" : "string"
                }
              },
              "required" : [ "password", "username" ],
              "type" : "object"
            }
          }
        },
        "description" : "Login Request"
      }
    },
    "responses" : {
      "InvalidRequestResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_400"
            }
          },
          "application/xml" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_400"
            }
          }
        },
        "description" : "Response for validation errors"
      },
      "EmptyResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_401"
            }
          }
        },
        "description" : "Empty Response"
      },
      "ProjectListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200"
            }
          }
        },
        "description" : "Project List"
      },
      "ProjectSingleResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_201"
            }
          }
        },
        "description" : "Single Project"
      },
      "LoginResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/inline_response_200_1"
            }
          }
        },
        "description" : "Login Response"
      }
    },
    "schemas" : {
      "ResponseMessages" : {
        "properties" : {
          "warnings" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseMessage"
            },
            "type" : "array"
          },
          "errors" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseMessage"
            },
            "type" : "array"
          },
          "success" : {
            "items" : {
              "$ref" : "#/components/schemas/ResponseMessage"
            },
            "type" : "array"
          }
        },
        "required" : [ "errors", "success", "warnings" ],
        "title" : "ResponseMessages",
        "type" : "object",
        "x-examples" : {
          "example" : {
            "warnings" : [ ],
            "errors" : [ ],
            "success" : [ {
              "code" : 10000,
              "message" : "Action successfully executed."
            } ]
          }
        }
      },
      "ResponseMessage" : {
        "properties" : {
          "key" : {
            "example" : "general.serverError",
            "type" : "string"
          },
          "message" : {
            "example" : "Action successfully executed.",
            "type" : "string"
          }
        },
        "required" : [ "key", "message" ],
        "title" : "ResponseMessage",
        "type" : "object"
      },
      "Project" : {
        "properties" : {
          "uuid" : {
            "format" : "uuid",
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "created_at" : {
            "type" : "string"
          },
          "updated_at" : {
            "type" : "string"
          }
        },
        "title" : "Project",
        "type" : "object",
        "x-tags" : [ "projects" ],
        "x-examples" : {
          "example" : {
            "uuid" : "095be615-a8ad-4c33-8e9c-c7612fbf6c9f",
            "title" : "Nice App",
            "description" : "A really nice app",
            "created_at" : "2020-01-30 00:00:00",
            "updated_at" : "2020-01-30 00:00:00"
          }
        }
      },
      "Token" : {
        "description" : "API / Session Token",
        "properties" : {
          "token" : {
            "type" : "string"
          }
        },
        "required" : [ "token" ],
        "title" : "Token",
        "type" : "object",
        "x-tags" : [ "users" ]
      },
      "inline_response_200" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Project"
            },
            "type" : "array"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "success" ],
        "type" : "object"
      },
      "inline_response_401" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "messages", "success" ],
        "type" : "object"
      },
      "inline_response_201" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/Project"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "success" ],
        "type" : "object"
      },
      "inline_response_400" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "type" : "object"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "messages", "success" ],
        "type" : "object"
      },
      "inline_response_200_1" : {
        "properties" : {
          "success" : {
            "type" : "boolean"
          },
          "data" : {
            "$ref" : "#/components/schemas/Token"
          },
          "messages" : {
            "$ref" : "#/components/schemas/ResponseMessages"
          }
        },
        "required" : [ "data", "messages", "success" ],
        "type" : "object"
      }
    },
    "securitySchemes" : {
      "AuthToken" : {
        "scheme" : "bearer",
        "type" : "http"
      }
    }
  }
}