openapi: 3.0.0
x-stoplight:
  id: 257a131dee538
info:
  title: LUMASERV Compute API
  version: '1.0'
  contact:
    name: LUMASERV Support Team
    email: support@lumaserv.com
    url: 'https://lumaserv.com'
  description: LUMASERV Compute API
servers:
  - url: 'https://api.lumaserv.com/compute'
    description: Live
tags:
  - name: address
    description: IP Address and Subnet Management
  - name: general
    description: General Endpoints
  - name: label
    description: Label Endpoints
  - name: plesk-licenses
    description: Plesk License Management
  - name: pricing
    description: Pricing Endpoints
  - name: s3-storage
    description: S3 Object Storage Management
  - name: server
    description: Compute Service Management
  - name: sshkeys
    description: SSH-Key Management
paths:
  /storage/s3/buckets:
    get:
      summary: getS3Buckets
      tags:
        - s3-storage
      responses:
        '200':
          $ref: '#/components/responses/S3BucketListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getS3Buckets
      description: Returns all s3 buckets
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createS3Bucket
      operationId: createS3Bucket
      responses:
        '201':
          $ref: '#/components/responses/S3BucketSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new s3 bucket
      tags:
        - s3-storage
      requestBody:
        $ref: '#/components/requestBodies/S3BucketCreateRequest'
  '/storage/s3/buckets/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: S3 Bucket ID
    get:
      summary: getS3Bucket
      tags:
        - s3-storage
      responses:
        '200':
          $ref: '#/components/responses/S3BucketSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getS3Bucket
      description: Returns a single s3 bucket
    delete:
      summary: deleteS3Bucket
      operationId: deleteS3Bucket
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - s3-storage
      description: Deletes a s3 bucket
  /storage/s3/access-keys:
    get:
      summary: getS3AccessKeys
      tags:
        - s3-storage
      responses:
        '200':
          $ref: '#/components/responses/S3AccessKeyListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getS3AccessKeys
      description: Returns all access keys
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createS3AccessKey
      operationId: createS3AccessKey
      responses:
        '201':
          $ref: '#/components/responses/S3AccessKeySingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - s3-storage
      description: Creates a s3 access key
      requestBody:
        $ref: '#/components/requestBodies/S3AccessKeyCreateRequest'
  '/storage/s3/access-keys/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: S3 Access Key ID
    get:
      summary: getS3AccessKey
      tags:
        - s3-storage
      responses:
        '200':
          $ref: '#/components/responses/S3AccessKeySingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getS3AccessKey
      description: Returns a single s3 access key
    delete:
      summary: deleteS3AccessKey
      operationId: deleteS3AccessKey
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - s3-storage
      description: Deletes a s3 access key
  /licenses/plesk:
    get:
      summary: getPleskLicenses
      tags:
        - plesk-licenses
      operationId: getPleskLicenses
      description: Returns all plesk licenses
      responses:
        '200':
          $ref: '#/components/responses/PleskLicenseListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[type_id]'
          description: Plesk License Type ID
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createPleskLicense
      operationId: createPleskLicense
      responses:
        '201':
          $ref: '#/components/responses/PleskLicenseSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - plesk-licenses
      description: Orders a new plesk license
      requestBody:
        $ref: '#/components/requestBodies/PleskLicenseCreateRequest'
  '/licenses/plesk/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Plesk License ID
    get:
      summary: getPleskLicense
      tags:
        - plesk-licenses
      responses:
        '200':
          $ref: '#/components/responses/PleskLicenseSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getPleskLicense
      description: Returns a single plesk license
    put:
      summary: updatePleskLicense
      operationId: updatePleskLicense
      responses:
        '200':
          $ref: '#/components/responses/PleskLicenseSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - plesk-licenses
      description: Updates a plesk license
      requestBody:
        $ref: '#/components/requestBodies/PleskLicenseUpdateRequest'
  /licenses/plesk-types:
    get:
      summary: getPleskLicenseTypes
      tags:
        - plesk-licenses
      responses:
        '200':
          $ref: '#/components/responses/PleskLicenseTypeListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getPleskLicenseTypes
      description: Return all plesk license types
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
  '/licenses/plesk-types/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Plesk License Type ID
    get:
      summary: getPleskLicenseType
      tags:
        - plesk-licenses
      responses:
        '200':
          $ref: '#/components/responses/PleskLicenseTypeSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getPleskLicenseType
      description: Returns a single plesk license type
  '/storage/s3/access-keys/{access_key_id}/grants':
    parameters:
      - schema:
          type: string
          format: uuid
        name: access_key_id
        in: path
        required: true
        description: S3 Access Key ID
    get:
      summary: getS3AccessKeyGrants
      tags:
        - s3-storage
      responses:
        '200':
          $ref: '#/components/responses/S3AccessGrantListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getS3AccessKeyGrants
      description: Returns all grants for the s3 access key
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createS3AccessKeyGrant
      operationId: createS3AccessKeyGrant
      responses:
        '201':
          $ref: '#/components/responses/S3AccessGrantSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - s3-storage
      description: Creates a new grant for the s3 access key
      requestBody:
        $ref: '#/components/requestBodies/S3AccessGrantCreateRequest'
  '/storage/s3/access-keys/{access_key_id}/grants/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: access_key_id
        in: path
        required: true
        description: S3 Access Key ID
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: S3 Access Grant ID
    delete:
      summary: deleteS3AccessKeyGrant
      operationId: deleteS3AccessKeyGrant
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Deletes a grant of a s3 access key
      tags:
        - s3-storage
  /ssh-keys:
    get:
      summary: getSSHKeys
      responses:
        '200':
          $ref: '#/components/responses/SSHKeyListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getSSHKeys
      description: Returns all ssh keys
      tags:
        - sshkeys
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createSSHKey
      operationId: createSSHKey
      responses:
        '201':
          $ref: '#/components/responses/SSHKeySingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - sshkeys
      description: Creates a new ssh key
      requestBody:
        $ref: '#/components/requestBodies/SSHKeyCreateRequest'
  '/ssh-keys/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: SSH Key ID
    get:
      summary: getSSHKey
      tags:
        - sshkeys
      responses:
        '200':
          $ref: '#/components/responses/SSHKeySingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getSSHKey
      description: Returns a single ssh key
    delete:
      summary: deleteSSHKey
      operationId: deleteSSHKey
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - sshkeys
      description: Deletes a ssh key
  /servers:
    get:
      summary: getServers
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServers
      description: Returns all servers
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - schema:
            type: string
          in: query
          name: 'filter[name]'
          description: Name Filter
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[state]'
          description: State Filter
        - schema:
            type: string
          in: query
          name: 'filter[variant_id]'
          description: Variant ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[template_id]'
          description: Template ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[host_id]'
          description: Host ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[network_id]'
          description: Network ID Filter
    post:
      summary: createServer
      operationId: createServer
      responses:
        '201':
          $ref: '#/components/responses/ServerSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Creates a new server
      requestBody:
        $ref: '#/components/requestBodies/ServerCreateRequest'
  '/servers/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    get:
      summary: getServer
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServer
      description: Returns a single server
    delete:
      summary: deleteServer
      operationId: deleteServer
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Deletes the server
    put:
      summary: updateServer
      operationId: updateServer
      responses:
        '200':
          $ref: '#/components/responses/ServerSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Updates the server
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerUpdateRequest'
  /server-volumes:
    get:
      summary: getServerVolumes
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVolumeListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVolumes
      description: Returns all server volumes
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[server_id]'
          description: Server ID Filter
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
          in: query
          name: 'filter[class_id]'
          description: Storage Class ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerVolume
      operationId: createServerVolume
      responses:
        '201':
          $ref: '#/components/responses/ServerVolumeSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new volume
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerVolumeCreateRequest'
  '/server-volumes/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server Volume ID
    get:
      summary: getServerVolume
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVolumeSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVolume
      description: Returns a single volume
    delete:
      summary: deleteServerVolume
      operationId: deleteServerVolume
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Deletes the volume
    put:
      summary: updateServerVolume
      operationId: updateServerVolume
      responses:
        '200':
          $ref: '#/components/responses/ServerVolumeSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Updates the server volume
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerVolumeUpdateRequest'
  /server-templates:
    get:
      summary: getServerTemplates
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerTemplateListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerTemplates
      description: Returns all server templates
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
            format: uuid
          in: query
          name: zone_id
          description: Zone ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerTemplate
      operationId: createServerTemplate
      responses:
        '201':
          $ref: '#/components/responses/ServerTemplateSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new server template
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerTemplateCreateRequest'
  '/server-templates/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server Template ID
    get:
      summary: getServerTemplate
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerTemplateSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerTemplate
      description: Returns a single server template
  /server-medias:
    get:
      summary: getServerMedias
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerMediaListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerMedias
      description: Returns all server media's
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[zone_id]'
          description: Zone ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    parameters: []
    post:
      summary: createServerMedia
      operationId: createServerMedia
      responses:
        '201':
          $ref: '#/components/responses/ServerMediaSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new server media
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerMediaCreateRequest'
  '/server-medias/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server Media ID
    get:
      summary: getServerMedia
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerMediaSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerMedia
      description: Returns a single server media
    delete:
      summary: deleteServerMedia
      operationId: deleteServerMedia
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Deletes the server media
      tags:
        - server
  /search:
    get:
      summary: search
      tags:
        - general
      responses:
        '200':
          $ref: '#/components/responses/SearchResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: search
      description: Search for multiple resource types at once
      parameters:
        - schema:
            type: string
          in: query
          name: resources
          description: Comma seperated list of types
        - schema:
            type: string
          in: query
          name: search
          description: Search
        - schema:
            type: integer
          in: query
          name: limit
          description: Limit per Resource Type
        - in: query
          description: Project ID
          name: project_id
          schema:
            type: string
            format: uuid
        - schema:
            type: string
          in: query
          name: 'labels[:name]'
          description: Filters for the label with the given name. Only checks the value if it's length is greater than 0.
        - $ref: '#/components/parameters/WithLabels'
  /availability-zones:
    get:
      summary: getAvailabilityZones
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/AvailabilityZoneListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getAvailabilityZones
      description: Returns all availability zones
      parameters:
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPage
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPageSize
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/Search
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[country_code]'
          description: Country Code Filter
        - schema:
            type: string
          in: query
          name: 'filter[city]'
          description: City Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createAvailabilityZone
      operationId: createAvailabilityZone
      responses:
        '201':
          $ref: '#/components/responses/AvailabilityZoneSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new availability zone
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/AvailabilityZoneCreateRequest'
  '/availability-zones/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Availability Zone ID
    get:
      summary: getAvailabilityZone
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/AvailabilityZoneSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getAvailabilityZone
      description: Returns a single availability zone
    put:
      summary: updateAvailabilityZone
      operationId: updateAvailabilityZone
      responses:
        '200':
          $ref: '#/components/responses/AvailabilityZoneSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Updates the availability zone
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/AvailabilityZoneUpdateRequest'
  /server-variants:
    get:
      summary: getServerVariants
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVariantListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVariants
      description: Returns all server variants
      parameters:
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPage
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPageSize
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/Search
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
            format: uuid
          in: query
          name: project_id
          description: Project ID Filter
        - schema:
            type: string
            format: uuid
          in: query
          name: zone_id
          description: Zone ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[cores]'
          description: Core Filter
        - schema:
            type: string
          in: query
          name: 'filter[memory]'
          description: Memory Size Filter
        - schema:
            type: string
          in: query
          name: 'filter[disk]'
          description: Disk Size Filter
        - schema:
            type: string
          in: query
          name: 'filter[storage_class_id]'
          description: Storage Class ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerVariant
      operationId: createServerVariant
      responses:
        '201':
          $ref: '#/components/responses/ServerVariantSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new server variant
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerVariantCreateRequest'
  '/server-variants/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server Variant ID
    get:
      summary: getServerVariant
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVariantSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVariant
      description: Returns a single server variant
    delete:
      summary: deleteServerVariant
      operationId: deleteServerVariant
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Deletes the server variant
      tags:
        - server
  /server-storage-classes:
    get:
      summary: getServerStorageClasses
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerStorageClassListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerStorageClasses
      description: Returns all storage classes
      parameters:
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPage
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPageSize
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/Search
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
          in: query
          name: 'filter[replication]'
          description: Replication Filter
        - schema:
            type: string
          in: query
          name: 'filter[ssd]'
          description: SSD Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    parameters: []
    post:
      summary: createServerStorageClass
      operationId: createServerStorageClass
      responses:
        '201':
          $ref: '#/components/responses/ServerStorageClassSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new storage class
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerStorageClassCreateRequest'
  '/server-storage-classes/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server Volume Class ID
    get:
      summary: getServerStorageClass
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerStorageClassSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerStorageClass
      description: Returns a single storage class
  /networks:
    get:
      summary: getNetworks
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/NetworkListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getNetworks
      description: Returns all networks
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPage
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPageSize
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/Search
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[zone_id]'
          description: Zone ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[type]'
          description: Type Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createNetwork
      operationId: createNetwork
      responses:
        '201':
          $ref: '#/components/responses/NetworkSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new network
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/NetworkCreateRequest'
  '/networks/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Network ID
    get:
      summary: getNetwork
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/NetworkSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getNetwork
      description: Returns a single network
    put:
      summary: updateNetwork
      operationId: updateNetwork
      responses:
        '200':
          $ref: '#/components/responses/NetworkSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Updates the network
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/NetworkUpdateRequest'
  '/servers/{id}/networks':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    get:
      summary: getServerNetworks
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerNetworkListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerNetworks
      description: Returns all server networks
      parameters:
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPage
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/PaginationPageSize
        - $ref: ./auth-api.v1.0.yaml#/components/parameters/Search
        - schema:
            type: string
          in: query
          name: 'filter[default]'
          description: Default Interface Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[server_id]'
          description: Server ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[network_id]'
          description: Network ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[mac_address]'
          description: MAC Address Filter
        - schema:
            type: string
          in: query
          name: 'filter[address_v4_id]'
          description: Address V4 ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[address_v6_id]'
          description: Address V6 ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerNetwork
      operationId: createServerNetwork
      responses:
        '201':
          $ref: '#/components/responses/ServerNetworkSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Adds a new network adapter to the server
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerNetworkCreateRequest'
  '/servers/{id}/networks/{network_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
      - schema:
          type: string
          format: uuid
        name: network_id
        in: path
        required: true
        description: Server Network ID
    delete:
      summary: deleteServerNetwork
      operationId: deleteServerNetwork
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '400':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Removes the network adapter
      tags:
        - server
  /subnets:
    get:
      summary: getSubnets
      tags:
        - address
      responses:
        '200':
          $ref: '#/components/responses/SubnetListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getSubnets
      description: Returns all subnets
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/LabelsFilter'
        - $ref: '#/components/parameters/WithLabels'
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[network_id]'
          description: Network ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createSubnet
      operationId: createSubnet
      responses:
        '201':
          $ref: '#/components/responses/SubnetSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new subnet
      tags:
        - address
      requestBody:
        $ref: '#/components/requestBodies/SubnetCreateRequest'
  '/subnets/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Subnet ID
    get:
      summary: getSubnet
      tags:
        - address
      responses:
        '200':
          $ref: '#/components/responses/SubnetSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getSubnet
      description: Returns a single subnet
    delete:
      summary: deleteSubnet
      operationId: deleteSubnet
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - address
      description: Deletes a subnet
  /server-hosts:
    get:
      summary: getServerHosts
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerHostListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          description: Forbidden
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerHosts
      description: Returns all server hosts
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerHost
      operationId: createServerHost
      responses:
        '201':
          $ref: '#/components/responses/ServerHostSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new server host
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerHostCreateRequest'
  '/server-hosts/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerHost ID
    get:
      summary: getServerHost
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerHostSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerHost
      description: Returns a single host
    put:
      summary: updateServerHost
      operationId: updateServerHost
      responses:
        '200':
          $ref: '#/components/responses/ServerHostSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      requestBody:
        $ref: '#/components/requestBodies/ServerHostUpdateRequest'
      tags:
        - server
  /server-storages:
    get:
      summary: getServerStorages
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerStorageListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          description: Forbidden
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerStorages
      description: Returns all server storages
      parameters:
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[zone_id]'
          description: Zone ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[external_id]'
          description: External ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerStorage
      operationId: createServerStorage
      responses:
        '201':
          $ref: '#/components/responses/ServerStorageSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new server storage
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerStorageCreateRequest'
  '/server-storages/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerStorage ID
    get:
      summary: getServerStorage
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerStorageSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerStorage
      description: Returns a single server storage
  '/servers/{id}/start':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        description: Server ID
        required: true
    post:
      summary: startServer
      operationId: startServer
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Starts the server
  '/servers/{id}/shutdown':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    post:
      summary: shutdownServer
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: shutdownServer
      description: Shuts the server down using a soft shutdown (ACPI Signal)
      parameters:
        - schema:
            type: boolean
          in: query
          name: force
          description: Optionally force the poweroff when the server doesn't respond to the signal in a reasonable amount of time
  '/servers/{id}/stop':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    post:
      summary: stopServer
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: stopServer
      description: Stops the server forcefully (see shutdownServer for soft shutdown)
  '/servers/{id}/recreate':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    post:
      summary: recreateServer
      operationId: recreateServer
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Recreates the server. This will delete all data on the root disk and the server will be freshly reinstalled.
      tags:
        - server
  '/servers/{id}/vnc':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    get:
      summary: getServerVNC
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVNCResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVNC
      description: Returns vnc websocket credentials
  /server-actions:
    parameters: []
    get:
      summary: getServerActions
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerActionListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerActions
      description: Returns all actions for the server
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[server_id]'
          description: Server ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[type]'
          description: Type Filter
        - schema:
            type: string
          in: query
          name: 'filter[state]'
          description: State Filter
        - schema:
            type: string
            format: uuid
          in: query
          name: 'filter[id]'
          description: ID Filter
  '/server-actions/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerAction ID
    get:
      summary: getServerAction
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerActionSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerAction
      description: Returns a single server action
  '/server-volumes/{id}/attach':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Volume ID
    post:
      summary: attachServerVolume
      operationId: attachServerVolume
      responses:
        '200':
          $ref: '#/components/responses/ServerVolumeSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Attaches the volume to the provided server
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerVolumeAttachRequest'
  '/server-volumes/{id}/detach':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Volume ID
    post:
      summary: detachServerVolume
      operationId: detachServerVolume
      responses:
        '200':
          $ref: '#/components/responses/ServerVolumeSingleResponse'
        '400':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Detaches the volume from the current server
      tags:
        - server
  '/servers/{id}/status':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
    get:
      summary: getServerStatus
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerStatusResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerStatus
      description: Fetches the current server status
  /addresses:
    get:
      summary: getAddresses
      tags:
        - address
      responses:
        '200':
          $ref: '#/components/responses/AddressListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getAddresses
      description: Returns all addresses
      parameters:
        - $ref: '#/components/parameters/ProjectIDFilter'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
  '/addresses/{id}':
    parameters:
      - schema:
          type: string
        description: Address ID
        name: id
        in: path
        required: true
    get:
      summary: getAddress
      tags:
        - address
      responses:
        '200':
          $ref: '#/components/responses/AddressSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getAddress
      description: Returns a single address
  '/servers/{id}/resize':
    parameters:
      - schema:
          type: string
        description: Server ID
        name: id
        in: path
        required: true
    post:
      summary: resizeServer
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '409':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: resizeServer
      description: Resizes the server to the specified variant
      requestBody:
        $ref: '#/components/requestBodies/ServerResizeRequest'
  /labels:
    get:
      summary: getLabels
      tags:
        - label
      responses:
        '200':
          $ref: '#/components/responses/LabelListResponse'
        '400':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getLabels
      description: Returns all labels that are in use
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/ProjectIDFilter'
        - schema:
            type: string
          in: query
          name: 'filter[name]'
          description: Name Filter
        - schema:
            type: string
          in: query
          name: 'filter[value]'
          description: Value Filter
        - schema:
            type: string
          in: query
          name: 'filter[object_type]'
          description: Object Type Filter
  '/servers/{id}/graph':
    parameters:
      - schema:
          type: string
        description: Server ID
        name: id
        in: path
        required: true
    get:
      summary: getServerGraph
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerGraphResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerGraph
      description: Returns graph data for the server
      parameters:
        - schema:
            type: string
            enum:
              - hour
              - day
              - week
              - month
              - year
          in: query
          name: timeframe
          description: Data Timeframe
  /server-backups:
    get:
      summary: getServerBackups
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerBackupListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerBackups
      description: Returns all server backups
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/ProjectIDFilter'
        - schema:
            type: string
          in: query
          name: 'filter[server_id]'
          description: Server ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerBackup
      operationId: createServerBackup
      responses:
        '201':
          $ref: '#/components/responses/ServerBackupSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '409':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new backup of a server
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerBackupCreateRequest'
  '/server-backups/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerBackup ID
    get:
      summary: getServerBackup
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerBackupSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerBackup
      description: Returns a single server backup
    delete:
      summary: deleteServerBackup
      operationId: deleteServerBackup
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Deletes a server backup
      tags:
        - server
    put:
      summary: updateServerBackup
      operationId: updateServerBackup
      responses:
        '200':
          $ref: '#/components/responses/ServerBackupSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Updates the Server Backup
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerBackupUpdateRequest'
  '/servers/{id}/restore':
    parameters:
      - schema:
          type: string
        description: Server ID
        name: id
        in: path
        required: true
    post:
      summary: restoreServer
      operationId: restoreServer
      responses:
        '200':
          $ref: '#/components/responses/ScheduledServerActionSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '409':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Restores the server from a backup
      requestBody:
        $ref: '#/components/requestBodies/ServerRestoreRequest'
  '/servers/{id}/scheduled-actions':
    get:
      summary: getScheduledServerActions
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ScheduledServerActionListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getScheduledServerActions
      description: Returns all scheduled server actions
      parameters:
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: ./billing-api.v1.0.yaml#/components/parameters/Search
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createScheduledServerAction
      operationId: createScheduledServerAction
      responses:
        '201':
          $ref: '#/components/responses/ScheduledServerActionSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
      description: Schedules a new scheduled server action
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ScheduledServerActionCreateRequest'
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
  '/servers/{id}/scheduled-actions/{action_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: Server ID
      - schema:
          type: string
          format: uuid
        name: action_id
        in: path
        required: true
        description: ScheduledServerAction ID
    get:
      summary: getScheduledServerAction
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ScheduledServerActionSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getScheduledServerAction
      description: Returns a single scheduled server action
    delete:
      summary: deleteScheduledServerAction
      operationId: deleteScheduledServerAction
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Deletes a scheduled server action
    put:
      summary: updateScheduledServerAction
      operationId: updateScheduledServerAction
      responses:
        '200':
          $ref: '#/components/responses/ScheduledServerActionSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ScheduledServerActionUpdateRequest'
      description: Updates the scheduled server action
  /server-firewalls:
    get:
      summary: getServerFirewalls
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerFirewalls
      description: Returns all server firewalls
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/ProjectIDFilter'
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerFirewall
      operationId: createServerFirewall
      responses:
        '201':
          $ref: '#/components/responses/ServerFirewallSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new server firewall
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerFirewallCreateRequest'
  '/server-firewalls/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerFirewall ID
    get:
      summary: getServerFirewall
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerFirewall
      description: Returns a single firewall
    delete:
      summary: deleteServerFirewall
      operationId: deleteServerFirewall
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Deletes a server firewall
  '/server-firewalls/{id}/rules':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerFirewall ID
    get:
      summary: getServerFirewallRules
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallRuleListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerFirewallRules
      description: Returns all rules of the firewall
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[type]'
          description: Type Filter
        - schema:
            type: string
          in: query
          name: 'filter[protocol]'
          description: Protocol Filter
        - schema:
            type: string
          in: query
          name: 'filter[applied]'
          description: Applied Rule Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
        - schema:
            type: boolean
          in: query
          name: 'filter[disabled]'
          description: Disabled Filter
    post:
      summary: createServerFirewallRule
      operationId: createServerFirewallRule
      responses:
        '201':
          $ref: '#/components/responses/ServerFirewallRuleSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new rule in the server firewall
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerFirewallRuleCreateRequest'
  '/server-firewalls/{id}/rules/{rule_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerFirewall ID
      - schema:
          type: string
          format: uuid
        name: rule_id
        in: path
        required: true
        description: ServerFirewallRule ID
    get:
      summary: getServerFirewallRule
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallRuleSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerFirewallRule
      description: Returns a single firewall rule
    delete:
      summary: deleteServerFirewallRule
      operationId: deleteServerFirewallRule
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Deletes a server firewall rule
      tags:
        - server
    put:
      summary: updateServerFirewallRule
      operationId: updateServerFirewallRule
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallRuleSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Updates the firewall rule
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerFirewallRuleUpdateRequest'
  '/server-firewalls/{id}/members':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerFirewall ID
    get:
      summary: getServerFirewallMembers
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallMemberListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerFirewallMembers
      description: Returns all members of the firewall
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[type]'
          description: Type Filter
        - schema:
            type: string
          in: query
          name: 'filter[server_id]'
          description: Server ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[label_name]'
          description: Label Name Filter
        - schema:
            type: string
          in: query
          name: 'filter[label_value]'
          description: Label Value Filter
        - schema:
            type: string
          in: query
          name: 'filter[applied]'
          description: Applied Member Filter
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerFirewallMember
      operationId: createServerFirewallMember
      responses:
        '201':
          $ref: '#/components/responses/ServerFirewallMemberSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Adds a new member to the server firewall
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerFirewallMemberCreateRequest'
  '/server-firewalls/{id}/members/{member_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerFirewall ID
      - schema:
          type: string
          format: uuid
        name: member_id
        in: path
        required: true
        description: ServerFirewallMember ID
    get:
      summary: getServerFirewallMember
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerFirewallMemberSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerFirewallMember
      description: Returns a single firewall member
    delete:
      summary: deleteServerFirewallMember
      operationId: deleteServerFirewallMember
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Removes a member from the server firewall
  /server-price-ranges:
    get:
      summary: getServerPriceRanges
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerPriceRangeListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerPriceRanges
      description: Returns all price ranges for servers
      parameters:
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
        - schema:
            type: string
          in: query
          name: 'filter[title]'
          description: Title Filter
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
    post:
      summary: createServerPriceRange
      operationId: createServerPriceRange
      responses:
        '200':
          $ref: '#/components/responses/ServerPriceRangeSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new price range for servers
      tags:
        - server
      requestBody:
        $ref: '#/components/requestBodies/ServerPriceRangeCreateRequest'
  '/server-price-ranges/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerPriceRange ID
    get:
      summary: getServerPriceRange
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerPriceRangeSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerPriceRange
      description: Returns a single price range for servers
  '/server-price-ranges/{id}/variant-prices':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerPriceRange ID
    get:
      summary: getServerVariantPrices
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVariantPriceListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVariantPrices
      description: Returns all variant prices for a range
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/OrderBy'
        - $ref: '#/components/parameters/PaginationPage'
        - $ref: '#/components/parameters/PaginationPageSize'
    post:
      summary: createServerVariantPrice
      operationId: createServerVariantPrice
      responses:
        '200':
          $ref: '#/components/responses/ServerVariantPriceSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Creates a new variant price for the range
      requestBody:
        $ref: '#/components/requestBodies/ServerVariantPriceCreateRequest'
      tags:
        - server
  '/server-price-ranges/{id}/variant-prices/{variant_id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: ServerPriceRange ID
      - schema:
          type: string
          format: uuid
        name: variant_id
        in: path
        required: true
        description: ServerVariant ID
    get:
      summary: getServerVariantPrice
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerVariantPriceSingleResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerVariantPrice
      description: Returns the pricing for a specific variant in the range
    put:
      summary: updateServerVariantPrice
      operationId: updateServerVariantPrice
      responses:
        '200':
          $ref: '#/components/responses/ServerVariantPriceSingleResponse'
        '400':
          $ref: '#/components/responses/InvalidRequestResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      tags:
        - server
      description: Updates the price for a specific variant in the range
      requestBody:
        $ref: '#/components/requestBodies/ServerVariantPriceUpdateRequest'
    delete:
      summary: deleteServerVariantPrice
      operationId: deleteServerVariantPrice
      responses:
        '200':
          $ref: '#/components/responses/EmptyResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      description: Delete server variant price
      tags:
        - server
  /server-price-range-assignments:
    get:
      summary: getServerPriceRangeAssignments
      tags:
        - server
      responses:
        '200':
          $ref: '#/components/responses/ServerPriceRangeAssignmentListResponse'
        '401':
          $ref: '#/components/responses/EmptyResponse'
        '403':
          $ref: '#/components/responses/EmptyResponse'
        '404':
          $ref: '#/components/responses/EmptyResponse'
        '500':
          $ref: '#/components/responses/EmptyResponse'
      operationId: getServerPriceRangeAssignments
      description: Returns all price range assignments for servers
      parameters:
        - schema:
            type: string
          in: query
          name: 'filter[id]'
          description: ID Filter
[...]
